* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* --------------------
HeaderBar
-------------------- */

.header-bar__container {
	background-color: rgb(34, 44, 49);
	display: flex;
	justify-content: space-between;
	padding: 2em 5% 0% 5%;
}

.header-bar__app-title {
	color: white;
}

.header-bar__icon-container {
	align-items: center;
	display: flex;
	justify-content: space-between;
	width: 7em;
}


/* --------------------
SearchBar
-------------------- */
.search-bar__container {
	text-align: right;
	margin: 1em 5% 2em 0;
}

.search-bar__input {
	border: 1px solid rgb(82, 105, 117);
	background-color: rgb(42, 54, 59);
	color: white;
	font-size: 1.1em;
	padding: 0.5em;
	margin: 0.5em 0em 0.5em 0.5em;
	width: 17em;
}

.search-bar__input::placeholder {
	color: rgb(82, 105, 117);
}

/* --------------------
CryptoTable
-------------------- */
.crypto-table__table {
	background: #2c373d;
	border: 3px solid #2c373d;
	color: rgba(255, 255, 255, 0.8);
	margin: 0 auto 0 auto;
	padding-top: 1em;
	width: 90%;
}

.crypto-table__sorting-arrows {
	color: rgb(82, 105, 117);
	margin-bottom: 1em;
}

.crypto-table__header-text {
	color: white;
}

.crypto-table__checkbox {
	display: none;
}

.crypto-table__header-text:hover {
	cursor: pointer;
}

#crypto-table__header-row {
	background-color: #2c373d;
	text-align: center;
}

.crypto-table__table tr {
	background-color: #405059;
	text-align: center;
}

.crypto-table__table tr:nth-child(2n) {
	background-color: #536976;
}

.crypto-table__table-row-data {
	padding: 0.5em;
}

/* --------------------
CryptoRows
-------------------- */
.crypto-rows__ticker-image {
	align-self: center;
	-webkit-transition: -webkit-transform 0.8s;
	-ms-transition: -ms-transform 0.8s;
	margin: 0em 1em 0em 0em;
	transition: transform 0.8s;
	width: 40px;
}

/* Use a placeholder image when the crypto symbol image isnt found */
.crypto-rows__ticker-image:before {
	background-image: url('https://placehold.it/40x40');
	content: ' ';
	display: block;
	height: 40px;
	position: absolute;
	width: 40px;
	z-index: 0;
}

.crypto-rows__crypto-name-data-content {
	align-items: center;
	display: flex;
	margin-left: 25%;
}

.crypto-rows__logo--spin {
	transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
}

.crypto-rows__row--light-up {
	color: white;
}

/* --------------------
CryptoNews
-------------------- */
.news__app-title {
	color: white;
	margin: 1em 0 0 5%;
}

.news__header-section {
	align-items: center;
	background-color: rgb(42, 54, 59);
	display: flex;
	margin: 2em 0 2em 0;
	padding: 1em 0em 1em 0em;
	width: 100%;
}

.news__icon-container--left {
	margin-left: 5%;
}

.news__header-container-center {
	color: rgb(82, 105, 117);
	margin: 0 auto 0 auto;
}

.news__crypto-logo-name-container {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-bottom: 0.5em;
}

.news__ticker-image {
	align-self: center;
	margin-right: 1em;
	width: 40px;
}

/* Use a placeholder image when the crypto symbol image isnt found */
.news__ticker-image:before {
	background-image: url('https://placehold.it/40x40');
	content: ' ';
	display: block;
	height: 40px;
	position: absolute;
	width: 40px;
	z-index: 0;
}

.news__header-text {
	color: white;
}

.news__icon-container--right {
	display: flex;
	justify-content: space-between;
	margin-right: 5%;
	width: 8em;
}

.news__phone-help-icon {
	display: none;
	position: absolute;
	right: 1em;
	top: 0.75em;
}

.modal__globe-icon-list-item {
	display: none;
}

.news__reddit-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	list-style-type: none;
	margin: 0 auto 0 auto;
	/* width: 100%; */
}

.news__reddit-item {
	margin: 0em;
	overflow-wrap: break-word;
	word-wrap: break-word;
	/* border-radius:5px; */
	width:100%;
	
}

.news__reddit-item-content {
	background: rgb(41, 47, 51);
	border: solid rgb(133, 146, 151);
	border-width: 1px 0px 1px 0px;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* height: 100px; */
	/* border-radius: 10px !important; */
	
}

.news__reddit-item-content--top {
	display: flex;
	/* padding: 1em; */
}

.news__reddit-item-thumbnail {
	margin-right: 0.5em;
	object-fit: cover;
	width: 70px;
	height: 70px;
}

.news__reddit-item-title-text {
	color: white;
	text-decoration: none;
	padding:.5em .5em .5em 0em;
}

.news__reddit-item-content--bottom {
	align-items: center;
	display: flex;
	border-top: 1px solid rgb(133, 146, 151);
	color: rgb(133, 146, 151);
	justify-content: space-between;
	padding: 0.5em;
}

.news__reddit-comments-container {
	align-items: center;
	display: flex;
}

.news__reddit-links-container {
	display: flex;
}

.news__reddit-item-link {
	align-items: center;
	color: rgb(133, 146, 151);
	display: flex;
	margin-left: 0.5em;
	text-decoration: none;
}

/* --------------------
REUSABLE STYLES
-------------------- */
.rotate-90 {
	transform: rotate(90deg);
}

.center-text {
	text-align: center;
}

.green-text {
	color: #76ff72;
}

.white-text {
	color: white;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.opaque {
	opacity: 0;
}

.red-text {
	color: #ff7272;
}

.regular-green {
	color: green;
}

.small-text {
	font-size: 80%;
}

/* --------------------
MEDIA QUERIES
-------------------- */
/* ipad */
@media (max-width: 1024px) {
	.hide-on-ipad {
		display: none;
	}
}

/* tablet */
@media (max-width: 800px) {
	.hide-on-tablet {
		display: none;
	}

	.crypto-rows__crypto-name-data-content {
		margin-left: 15%;
	}

	.news__reddit-item-content {
		height: 175px;
		width: 400px;
	}
}

/* cell phones */
@media (max-width: 400px) {
	.hide-on-phone {
		display: none;
	}

	.header-bar__container {
		justify-content: center;
		padding: 0.75em 5% 0% 5%;
	}

	.header-bar__app-title {
		font-size: 1.5em;
		margin-left: 2em;
		margin-bottom: 1em;
	}

	.bm-burger-button {
		display: block;
	}

	.crypto-table__container,
	.crypto-table__table,
	.crypto-table__header-row,
	.crypto-table__table-header-data,
	.crypto-table__header-text {
		font-size: 0.9em;
	}

	.crypto-table__table {
		width: 100%;
	}

	.crypto-table__sorting-arrows {
		margin-bottom: 0.5em;
	}

	.crypto-table__table-row-data {
		height: 70px;
	}

	.crypto-rows__crypto-name-data-content {
		margin-left: auto;
	}

	.news__app-title {
		font-size: 1.5em;
		margin-top: 0.5em;
	}

	.news__header-section {
		margin: 1em 0 1em 0;
	}

	.news__icon-container--right {
		width: auto;
	}

	.news__reddit-item {
		margin: 0.5em;
	}

	.news__reddit-item-content {
		height: 230px;
		width: 300px;
	}

	.chart__chart {
		margin: 1.5em auto 0 auto;
	}
}
