@charset "UTF-8";

:root {
  --blue: #20a8d8;
  --primary: #20a8d8;
  --secondary: #c8ced3;
  --success: #4dbd74;
  --info: #63c2de;
  --warning: #ffc107;
  --danger: #f86c6b;
  --light: #f0f3f5;
  --dark: #2f353a;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }

*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

@-ms-viewport {
  width: device-width; }

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block; }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f7f7f7;
  text-align: left;
  background-color: #212121; }

[tabindex="-1"]:focus {
  outline: 0 !important; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0; }

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit; }

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem; }

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0; }

dt {
  font-weight: 700; }

dd {
  margin-bottom: .5rem;
  margin-left: 0; }

blockquote {
  margin: 0 0 1rem; }

dfn {
  font-style: italic; }

b,
strong {
  font-weight: bolder; }

small {
  font-size: 80%; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

a {
  color: #20a8d8;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }
  a:hover {
    color: #167495;
    text-decoration: underline; }

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none; }
  a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
    color: inherit;
    text-decoration: none; }
  a:not([href]):not([tabindex]):focus {
    outline: 0; }

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em; }

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar; }

figure {
  margin: 0 0 1rem; }

img {
  vertical-align: middle;
  border-style: none; }

svg:not(:root) {
  overflow: hidden;
  vertical-align: middle; }

table {
  border-collapse: collapse; }

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #73818f;
  text-align: left;
  caption-side: bottom; }

th {
  text-align: inherit; }

label {
  display: inline-block;
  margin-bottom: 0.5rem; }

button {
  border-radius: 0; }

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color; }

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none; }

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0; }

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox; }

textarea {
  overflow: auto;
  resize: vertical; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal; }

progress {
  vertical-align: baseline; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button; }

output {
  display: inline-block; }

summary {
  display: list-item;
  cursor: pointer; }

template {
  display: none; }

[hidden] {
  display: none !important; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit; }

h1, .h1 {
  font-size: 2.1875rem; }

h2, .h2 {
  font-size: 1.75rem; }

h3, .h3 {
  font-size: 1.53125rem; }

h4, .h4 {
  font-size: 1.3125rem; }

h5, .h5 {
  font-size: 1.09375rem; }

h6, .h6 {
  font-size: 0.875rem; }

.lead {
  font-size: 1.09375rem;
  font-weight: 300; }

.display-1 {
  font-size: 6rem;
  font-weight: 300;
  line-height: 1.2; }

.display-2 {
  font-size: 5.5rem;
  font-weight: 300;
  line-height: 1.2; }

.display-3 {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.2; }

.display-4 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2; }

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1); }

small,
.small {
  font-size: 80%;
  font-weight: 400; }

mark,
.mark {
  padding: 0.2em;
  background-color: #fcf8e3; }

code {
  font-size: 87.5%;
  color: #e83e8c;
  word-break: break-word; }
  a > code {
    color: inherit; }

kbd {
  padding: 0.2rem 0.4rem;
  font-size: 87.5%;
  color: #fff;
  background-color: #23282c;
  border-radius: 0.2rem; }
  kbd kbd {
    padding: 0;
    font-size: 100%;
    font-weight: 700; }

pre {
  display: block;
  font-size: 87.5%;
  color: #23282c; }
  pre code {
    font-size: inherit;
    color: inherit;
    word-break: normal; }

.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll; }

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px; } }

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

.no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .no-gutters > .col,
  .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%; }

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: none; }

.col-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%; }

.col-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%; }

.col-3 {
  flex: 0 0 25%;
  max-width: 25%; }

.col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

.col-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%; }

.col-6 {
  flex: 0 0 50%;
  max-width: 50%; }

.col-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%; }

.col-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%; }

.col-9 {
  flex: 0 0 75%;
  max-width: 75%; }

.col-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%; }

.col-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%; }

.col-12 {
  flex: 0 0 100%;
  max-width: 100%; }

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }
  @media screen and (prefers-reduced-motion: reduce) {
    .btn {
      transition: none; } }
  .btn:hover, .btn:focus {
    text-decoration: none; }
  .btn:focus, .btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(32, 168, 216, 0.25); }
  .btn.disabled, .btn:disabled {
    opacity: 0.65; }
  .btn:not(:disabled):not(.disabled) {
    cursor: pointer; }
  .btn:not(:disabled):not(.disabled):active, .btn:not(:disabled):not(.disabled).active {
    background-image: none; }

a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none; }

.fade {
  transition: opacity 0.15s linear; }
  @media screen and (prefers-reduced-motion: reduce) {
    .fade {
      transition: none; } }
  .fade:not(.show) {
    opacity: 0; }

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }

.nav-link {
  display: block;
  padding: 0.5rem 1rem; }
  .nav-link:hover, .nav-link:focus {
    text-decoration: none; }
  .nav-link.disabled {
    color: #73818f; }

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem; }
  .navbar > .container,
  .navbar > .container-fluid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; }

.navbar-brand {
  display: inline-block;
  padding-top: 0.33594rem;
  padding-bottom: 0.33594rem;
  margin-right: 1rem;
  font-size: 1.09375rem;
  line-height: inherit;
  white-space: nowrap; }
  .navbar-brand:hover, .navbar-brand:focus {
    text-decoration: none; }

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }
  .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0; }
  .navbar-nav .dropdown-menu {
    position: static;
    float: none; }

.navbar-text {
  display: inline-block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center; }

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.09375rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem; }
  .navbar-toggler:hover, .navbar-toggler:focus {
    text-decoration: none; }
  .navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer; }

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%; }


.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #292f33;
  background-clip: border-box;
  border: 1px solid #484848;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem; 
}
  .card > hr {
    margin-right: 0;
    margin-left: 0; }
  .card > .list-group:first-child .list-group-item:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem; }
  .card > .list-group:last-child .list-group-item:last-child {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem; }

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem; }

.card-title {
  margin-bottom: 0.75rem; }

.card-subtitle {
  margin-top: -0.375rem;
  margin-bottom: 0; }

.card-text:last-child {
  margin-bottom: 0; }

.card-link:hover {
  text-decoration: none; }

.card-link + .card-link {
  margin-left: 1.25rem; }

.card-header {
  padding: 1rem 1.25rem;
  margin-bottom: 0;
  font-size:2.5vh;
  font-weight:500;
  line-height:21px;
  color:#f5f8fa;
  background-color: #292f33;
  border-bottom: 1px solid #484848; }

  .card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0; }
  .card-header + .list-group .list-group-item:first-child {
    border-top: 0; }

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: #f0f3f5;
  border-top: 1px solid #c8ced3; }
  .card-footer:last-child {
    border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px); }

.card-header-tabs {
  margin-right: -0.625rem;
  margin-bottom: -0.75rem;
  margin-left: -0.625rem;
  border-bottom: 0; }

.card-header-pills {
  margin-right: -0.625rem;
  margin-left: -0.625rem; }

.card-columns .card {
  margin-bottom: 0.75rem; }

@media (min-width: 576px) {
  .card-columns {
    column-count: 3;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1; }
    .card-columns .card {
      display: inline-block;
      width: 100%; } }


.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  margin-bottom: 1.5rem;
  list-style: none;
  border-radius: 0;
  color: #f9f9f9;
  background-color: #212121;
  border-bottom: 1px solid #484848; }

.breadcrumb-item + .breadcrumb-item {
  padding-left: 0.5rem; }
  .breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    color: #a8a8a8;
    content: "/"; }

.breadcrumb-item + .breadcrumb-item:hover::before {
  text-decoration: underline;
  color: #f9f9f9; }

.breadcrumb-item + .breadcrumb-item:hover::before {
  text-decoration: none;
  color: #f9f9f9; }

.breadcrumb-item.active {
  color: #a8a8a8; }

.close {
  float: right;
  font-size: 1.3125rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5; }
  .close:not(:disabled):not(.disabled) {
    cursor: pointer; }
    .close:not(:disabled):not(.disabled):hover, .close:not(:disabled):not(.disabled):focus {
      color: #000;
      text-decoration: none;
      opacity: .75; }

button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none; }
  
.clearfix::after {
  display: block;
  clear: both;
  content: ""; }

@media (min-width: 992px) {
  .d-lg-none {
    display: none !important; }
  }
.float-left {
  float: left !important; }

.float-right {
  float: right !important; }

.float-none {
  float: none !important; }

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030; }

.fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030; }

@supports (position: sticky) {
  .sticky-top {
    position: sticky;
    top: 0;
    z-index: 1020; } }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  white-space: normal; }

.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important; }

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important; }

.shadow-lg {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important; }

.shadow-none {
  box-shadow: none !important; }

.mt-auto,
.my-auto {
  margin-top: auto !important; }

.text-monospace {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }

.text-justify {
  text-align: justify !important; }

.visible {
  visibility: visible !important; }

.invisible {
  visibility: hidden !important; }

@media print {
  *,
  *::before,
  *::after {
    text-shadow: none !important;
    box-shadow: none !important; }
  a:not(.btn) {
    text-decoration: underline; }
  abbr[title]::after {
    content: " (" attr(title) ")"; }
  pre {
    white-space: pre-wrap !important; }
  pre,
  blockquote {
    border: 1px solid #8f9ba6;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; }
  @page {
    size: a3; }
  body {
    min-width: 992px !important; }
  .container {
    min-width: 992px !important; }
  .navbar {
    display: none; }
  .badge {
    border: 1px solid #000; }
  .table {
    border-collapse: collapse !important; }
    .table td,
    .table th {
      background-color: #fff !important; }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #c8ced3 !important; }
  .table-dark {
    color: inherit; }
    .table-dark th,
    .table-dark td,
    .table-dark thead th,
    .table-dark tbody + tbody {
      border-color: #c8ced3; }
  .table .thead-dark th {
    color: inherit;
    border-color: #c8ced3; } }

.animated {
  animation-duration: 1s; }

.animated.infinite {
  animation-iteration-count: infinite; }

.animated.hinge {
  animation-duration: 2s; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeIn {
  animation-name: fadeIn; }

.ps {
  overflow: hidden !important;
  -ms-touch-action: auto;
  touch-action: auto;
  -ms-overflow-style: none;
  overflow-anchor: none; }

.ps__rail-x {
  position: absolute;
  bottom: 0;
  display: none;
  height: 15px;
  opacity: 0;
  transition: background-color .2s linear, opacity .2s linear; }

.ps__rail-y {
  position: absolute;
  right: 0;
  display: none;
  width: 15px;
  opacity: 0;
  transition: background-color .2s linear, opacity .2s linear; }

.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
  display: block;
  background-color: transparent; }

.ps:hover > .ps__rail-x,
.ps:hover > .ps__rail-y,
.ps--focus > .ps__rail-x,
.ps--focus > .ps__rail-y,
.ps--scrolling-x > .ps__rail-x,
.ps--scrolling-y > .ps__rail-y {
  opacity: .6; }

.ps__rail-x:hover,
.ps__rail-y:hover,
.ps__rail-x:focus,
.ps__rail-y:focus {
  background-color: #eee;
  opacity: .9; }

/*
 * Scrollbar thumb styles
 */
.ps__thumb-x {
  position: absolute;
  bottom: 2px;
  height: 6px;
  background-color: #aaa;
  border-radius: 6px;
  transition: background-color .2s linear, height .2s ease-in-out; }

.ps__thumb-y {
  position: absolute;
  right: 2px;
  width: 6px;
  background-color: #aaa;
  border-radius: 6px;
  transition: background-color .2s linear, width .2s ease-in-out; }

.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x {
  height: 11px;
  background-color: #999; }

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y {
  width: 11px;
  background-color: #999; }

@supports (-ms-overflow-style: none) {
  .ps {
    overflow: auto !important; } }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ps {
    overflow: auto !important; } }

.breadcrumb-menu {
  margin-left: auto; }
  .breadcrumb-menu::before {
    display: none; }
  .breadcrumb-menu .btn-group {
    vertical-align: top; }
  .breadcrumb-menu .btn {
    padding: 0 0.75rem;
    color: #73818f;
    vertical-align: top;
    border: 0; }
    .breadcrumb-menu .btn:hover, .breadcrumb-menu .btn.active {
      color: #23282c;
      background: transparent; }
  .breadcrumb-menu .open .btn {
    color: #23282c;
    background: transparent; }
  .breadcrumb-menu .dropdown-menu {
    min-width: 180px;
    line-height: 1.5; }

*[dir="rtl"] .breadcrumb-menu {
  margin-right: auto;
  margin-left: initial; }

button {
  cursor: pointer; }

.btn-transparent {
  color: #fff;
  background-color: transparent;
  border-color: transparent; }

.btn [class^="icon-"],
.btn [class*=" icon-"] {
  display: inline-block;
  margin-top: -2px;
  vertical-align: middle; }

.btn-pill {
  border-radius: 50em; }

.btn-square {
  border-radius: 0; }
  
  .card.drag,
  .card .drag {
    cursor: move; }

.card-placeholder {
  background: rgba(0, 0, 0, 0.025);
  border: 1px dashed #c8ced3; }

.card-header > i {
  margin-right: 0.5rem; }

.card-header .nav-tabs {
  margin-top: -0.75rem;
  margin-bottom: -0.75rem;
  border-bottom: 0; }
  .card-header .nav-tabs .nav-item {
    border-top: 0; }
  .card-header .nav-tabs .nav-link {
    padding: 0.75rem 0.625rem;
    color: #73818f;
    border-top: 0; }
    .card-header .nav-tabs .nav-link.active {
      color: #23282c;
      background: #fff; }

.card-header-icon-bg {
  display: inline-block;
  width: 2.8125rem;
  padding: 0.75rem 0;
  margin: -0.75rem 1.25rem -0.75rem -1.25rem;
  line-height: inherit;
  color: #23282c;
  text-align: center;
  background: transparent;
  border-right: 1px solid #c8ced3; }

.card-header-actions {
  display: inline-block;
  float: right;
  margin-right: -0.25rem; }

.card-header-action {
  padding: 0 0.25rem;
  color: #73818f; }
  .card-header-action:hover {
    color: #23282c;
    text-decoration: none; }

.card-full {
  margin-top: -1rem;
  margin-right: -15px;
  margin-left: -15px;
  border: 0;
  border-bottom: 1px solid #c8ced3; }

@media (min-width: 576px) {
  .card-columns.cols-2 {
    column-count: 2; } }

.chart-wrapper canvas {
  width: 100%; }

base-chart.chart {
  display: block; }

canvas {
  user-select: none; }

.app-header .navbar-nav .dropdown-menu {
  position: absolute; }

.app-header .navbar-nav .dropdown-menu-right {
  right: 0;
  left: auto; }

.app-header .navbar-nav .dropdown-menu-left {
  right: auto;
  left: 0; }

.app-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 1rem;
  color: #f9f9f9;
  background-color: #212121;
  border-top: 1px solid #484848;}

.row.row-equal {
  padding-right: 7.5px;
  padding-left: 7.5px;
  margin-right: -15px;
  margin-left: -15px; }
  .row.row-equal [class*="col-"] {
    padding-right: 7.5px;
    padding-left: 7.5px; }

.main .container-fluid {
  padding: 0 30px; }

.app-header {
  position: relative;
  flex-direction: row;
  height: 55px;
  padding: 0;
  margin: 0;
  background-color: #fff;
  border-bottom: 1px solid #c8ced3; }
  .app-header .navbar-brand {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 155px;
    height: 55px;
    padding: 0;
    margin-right: 0;
    background-color: transparent; }
    .app-header .navbar-brand .navbar-brand-minimized {
      display: none; }
  .app-header .navbar-toggler {
    min-width: 50px;
    padding: 0.25rem 0; }
    .app-header .navbar-toggler:hover .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%232f353a' stroke-width='2.25' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); }
  .app-header .navbar-toggler-icon {
    height: 23px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%2373818f' stroke-width='2.25' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); }
  .app-header .navbar-nav {
    flex-direction: row;
    align-items: center; }
  .app-header .nav-item {
    position: relative;
    min-width: 50px;
    margin: 0;
    text-align: center; }
    .app-header .nav-item button {
      margin: 0 auto; }
    .app-header .nav-item .nav-link {
      padding-top: 0;
      padding-bottom: 0;
      background: 0;
      border: 0; }
      .app-header .nav-item .nav-link .badge {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -16px;
        margin-left: 0; }
      .app-header .nav-item .nav-link > .img-avatar, .app-header .nav-item .avatar.nav-link > img {
        height: 35px;
        margin: 0 10px; }
  .app-header .dropdown-menu {
    padding-bottom: 0;
    line-height: 1.5; }
  .app-header .dropdown-item {
    min-width: 180px; }

.navbar-nav .nav-link {
  color: #73818f; }
  .navbar-nav .nav-link:hover, .navbar-nav .nav-link:focus {
    color: #2f353a; }

.navbar-nav .open > .nav-link, .navbar-nav .open > .nav-link:hover, .navbar-nav .open > .nav-link:focus,
.navbar-nav .active > .nav-link,
.navbar-nav .active > .nav-link:hover,
.navbar-nav .active > .nav-link:focus,
.navbar-nav .nav-link.open,
.navbar-nav .nav-link.open:hover,
.navbar-nav .nav-link.open:focus,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.active:hover,
.navbar-nav .nav-link.active:focus {
  color: #2f353a; }

.navbar-divider {
  background-color: rgba(0, 0, 0, 0.075); }

@media (min-width: 992px) {
  .brand-minimized .app-header .navbar-brand {
    width: 50px;
    background-color: transparent; }
    .brand-minimized .app-header .navbar-brand .navbar-brand-full {
      display: none; }
    .brand-minimized .app-header .navbar-brand .navbar-brand-minimized {
      display: block; } }

.sidebar {
  display: flex;
  flex-direction: column;
  padding: 0;
  color: #fff;
  background: #2f353a; }
  .sidebar .sidebar-close {
    position: absolute;
    right: 0;
    display: none;
    padding: 0 1rem;
    font-size: 24px;
    font-weight: 800;
    line-height: 55px;
    color: #fff;
    background: 0;
    border: 0;
    opacity: .8; }
    .sidebar .sidebar-close:hover {
      opacity: 1; }
  .sidebar .sidebar-header {
    flex: 0 0 auto;
    padding: 0.75rem 1rem;
    text-align: center;
    background: rgba(0, 0, 0, 0.2); }
  .sidebar .sidebar-form .form-control {
    color: #fff;
    background: #181b1e;
    border: 0; }
    .sidebar .sidebar-form .form-control::placeholder {
      color: rgba(255, 255, 255, 0.7); }
  .sidebar .sidebar-nav {
    position: relative;
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    width: 200px; }
  .sidebar .nav {
    width: 200px;
    flex-direction: column;
    min-height: 100%;
    padding: 0; }
  .sidebar .nav-title {
    padding: 0.75rem 1rem;
    font-size: 80%;
    font-weight: 700;
    color: #e4e7ea;
    text-transform: uppercase; }
  .sidebar .nav-divider {
    height: 10px; }
  .sidebar .nav-item {
    position: relative;
    margin: 0;
    transition: background .3s ease-in-out; }
  .sidebar .nav-dropdown-items {
    max-height: 0;
    padding: 0;
    margin: 0;
    overflow-y: hidden;
    transition: max-height .3s ease-in-out; }
    .sidebar .nav-dropdown-items .nav-item {
      padding: 0;
      list-style: none; }
  .sidebar .nav-link {
    display: block;
    padding: 0.75rem 1rem;
    color: #fff;
    text-decoration: none;
    background: transparent; }
    .sidebar .nav-link .nav-icon {
      display: inline-block;
      width: 1.09375rem;
      margin: 0 0.5rem 0 0;
      font-size: 0.875rem;
      color: #73818f;
      text-align: center; }
    .sidebar .nav-link .badge {
      float: right;
      margin-top: 2px; }
    .sidebar .nav-link.active {
      color: #fff;
      background: #3a4248; }
      .sidebar .nav-link.active .nav-icon {
        color: #20a8d8; }
    .sidebar .nav-link:hover {
      color: #fff;
      background: #20a8d8; }
      .sidebar .nav-link:hover .nav-icon {
        color: #fff; }
      .sidebar .nav-link:hover.nav-dropdown-toggle::before {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 14'%3E%3Cpath fill='%23fff' d='M9.148 2.352l-4.148 4.148 4.148 4.148q0.148 0.148 0.148 0.352t-0.148 0.352l-1.297 1.297q-0.148 0.148-0.352 0.148t-0.352-0.148l-5.797-5.797q-0.148-0.148-0.148-0.352t0.148-0.352l5.797-5.797q0.148-0.148 0.352-0.148t0.352 0.148l1.297 1.297q0.148 0.148 0.148 0.352t-0.148 0.352z'/%3E%3C/svg%3E"); }
    .sidebar .nav-link.nav-link-primary {
      background: #20a8d8; }
      .sidebar .nav-link.nav-link-primary .nav-icon {
        color: rgba(255, 255, 255, 0.7); }
      .sidebar .nav-link.nav-link-primary:hover {
        background: #1d97c2; }
        .sidebar .nav-link.nav-link-primary:hover i {
          color: #fff; }
    .sidebar .nav-link.nav-link-secondary {
      background: #c8ced3; }
      .sidebar .nav-link.nav-link-secondary .nav-icon {
        color: rgba(255, 255, 255, 0.7); }
      .sidebar .nav-link.nav-link-secondary:hover {
        background: #bac1c8; }
        .sidebar .nav-link.nav-link-secondary:hover i {
          color: #fff; }
   
  .sidebar .nav-dropdown-toggle {
    position: relative; }
    .sidebar .nav-dropdown-toggle::before {
      position: absolute;
      top: 50%;
      right: 1rem;
      display: block;
      width: 8px;
      height: 8px;
      padding: 0;
      margin-top: -4px;
      content: "";
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 14'%3E%3Cpath fill='%2373818f' d='M9.148 2.352l-4.148 4.148 4.148 4.148q0.148 0.148 0.148 0.352t-0.148 0.352l-1.297 1.297q-0.148 0.148-0.352 0.148t-0.352-0.148l-5.797-5.797q-0.148-0.148-0.148-0.352t0.148-0.352l5.797-5.797q0.148-0.148 0.352-0.148t0.352 0.148l1.297 1.297q0.148 0.148 0.148 0.352t-0.148 0.352z'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      transition: transform .3s; }
  .sidebar .nav-dropdown.open {
    background: rgba(0, 0, 0, 0.2); }
    .sidebar .nav-dropdown.open > .nav-dropdown-items {
      max-height: 1500px; }
    .sidebar .nav-dropdown.open .nav-link {
      color: #fff;
      border-left: 0; }
    .sidebar .nav-dropdown.open > .nav-dropdown-toggle::before {
      transform: rotate(-90deg); }
    .sidebar .nav-dropdown.open .nav-dropdown.open {
      border-left: 0; }
  .sidebar .nav-label {
    display: block;
    padding: 0.09375rem 1rem;
    color: #e4e7ea; }
    .sidebar .nav-label:hover {
      color: #fff;
      text-decoration: none; }
    .sidebar .nav-label .nav-icon {
      width: 20px;
      margin: -3px 0.5rem 0 0;
      font-size: 10px;
      color: #73818f;
      text-align: center;
      vertical-align: middle; }
  .sidebar .progress {
    background-color: #515c64 !important; }
  .sidebar .sidebar-footer {
    flex: 0 0 auto;
    padding: 0.75rem 1rem;
    background: rgba(0, 0, 0, 0.2); }
  .sidebar .sidebar-minimizer {
    position: relative;
    flex: 0 0 50px;
    background-color: rgba(0, 0, 0, 0.2);
    border: 0; }
    .sidebar .sidebar-minimizer::before {
      position: absolute;
      top: 0;
      right: 0;
      width: 50px;
      height: 50px;
      content: "";
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 14'%3E%3Cpath fill='%2373818f' d='M9.148 2.352l-4.148 4.148 4.148 4.148q0.148 0.148 0.148 0.352t-0.148 0.352l-1.297 1.297q-0.148 0.148-0.352 0.148t-0.352-0.148l-5.797-5.797q-0.148-0.148-0.148-0.352t0.148-0.352l5.797-5.797q0.148-0.148 0.352-0.148t0.352 0.148l1.297 1.297q0.148 0.148 0.148 0.352t-0.148 0.352z'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 12.5px;
      transition: .3s; }
    .sidebar .sidebar-minimizer:focus, .sidebar .sidebar-minimizer.focus {
      outline: 0; }
    .sidebar .sidebar-minimizer:hover {
      background-color: rgba(0, 0, 0, 0.3); }
      .sidebar .sidebar-minimizer:hover::before {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 14'%3E%3Cpath fill='%23fff' d='M9.148 2.352l-4.148 4.148 4.148 4.148q0.148 0.148 0.148 0.352t-0.148 0.352l-1.297 1.297q-0.148 0.148-0.352 0.148t-0.352-0.148l-5.797-5.797q-0.148-0.148-0.148-0.352t0.148-0.352l5.797-5.797q0.148-0.148 0.352-0.148t0.352 0.148l1.297 1.297q0.148 0.148 0.148 0.352t-0.148 0.352z'/%3E%3C/svg%3E"); }

@media (min-width: 992px) {
  .sidebar-compact .sidebar .sidebar-nav {
    width: 150px; }
  .sidebar-compact .sidebar .nav {
    width: 150px; }
  .sidebar-compact .sidebar .d-compact-none {
    display: none; }
  .sidebar-compact .sidebar .nav-title {
    text-align: center; }
  .sidebar-compact .sidebar .nav-item {
    width: 150px;
    border-left: 0; }
  .sidebar-compact .sidebar .nav-link {
    text-align: center; }
    .sidebar-compact .sidebar .nav-link .nav-icon {
      display: block;
      width: 100%;
      margin: 0.25rem 0;
      font-size: 24px; }
    .sidebar-compact .sidebar .nav-link .badge {
      position: absolute;
      top: 18px;
      right: 10px; }
    .sidebar-compact .sidebar .nav-link.nav-dropdown-toggle::before {
      top: 30px; }
  .sidebar-minimized .sidebar {
    z-index: 1019; }
    .sidebar-minimized .sidebar .sidebar-nav {
      overflow: visible;
      width: 50px; }
    .sidebar-minimized .sidebar .nav {
      width: 50px; }
    .sidebar-minimized .sidebar .d-minimized-none,
    .sidebar-minimized .sidebar .nav-divider,
    .sidebar-minimized .sidebar .nav-label,
    .sidebar-minimized .sidebar .nav-title,
    .sidebar-minimized .sidebar .sidebar-footer,
    .sidebar-minimized .sidebar .sidebar-form,
    .sidebar-minimized .sidebar .sidebar-header {
      display: none; }
    .sidebar-minimized .sidebar .sidebar-minimizer::before {
      width: 100%;
      transform: rotate(-180deg); }
    .sidebar-minimized .sidebar .nav-item {
      width: 50px;
      overflow: hidden; }
      .sidebar-minimized .sidebar .nav-item:hover {
        width: 250px;
        overflow: visible; }
        .sidebar-minimized .sidebar .nav-item:hover > .nav-link {
          background: #20a8d8; }
          .sidebar-minimized .sidebar .nav-item:hover > .nav-link .nav-icon {
            color: #fff; }
    .sidebar-minimized .sidebar .nav-link {
      position: relative;
      padding-left: 0;
      margin: 0;
      white-space: nowrap;
      border-left: 0; }
      .sidebar-minimized .sidebar .nav-link .nav-icon {
        display: block;
        float: left;
        width: 50px;
        font-size: 18px; }
      .sidebar-minimized .sidebar .nav-link .badge {
        position: absolute;
        right: 15px;
        display: none; }
      .sidebar-minimized .sidebar .nav-link:hover {
        width: 250px;
        background: #20a8d8; }
        .sidebar-minimized .sidebar .nav-link:hover .badge {
          display: inline; }
      .sidebar-minimized .sidebar .nav-link.nav-dropdown-toggle::before {
        display: none; }
    .sidebar-minimized .sidebar .nav-dropdown-items .nav-item {
      width: 200px; }
      .sidebar-minimized .sidebar .nav-dropdown-items .nav-item .nav-link {
        width: 200px; }
    .sidebar-minimized .sidebar .nav > .nav-dropdown > .nav-dropdown-items {
      display: none;
      max-height: 1000px;
      background: #2f353a; }
    .sidebar-minimized .sidebar .nav > .nav-dropdown:hover {
      background: #20a8d8; }
      .sidebar-minimized .sidebar .nav > .nav-dropdown:hover > .nav-dropdown-items {
        position: absolute;
        left: 50px;
        display: inline; } }

@media all and (-ms-high-contrast: none) {
  html {
    display: flex;
    flex-direction: column; } }

.app,
app-dashboard,
app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.app-header {
  flex: 0 0 55px; }

.app-footer {
  flex: 0 0 50px; }

.app-body {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  overflow-x: hidden; }
  .app-body .main {
    flex: 1;
    min-width: 0; }
  .app-body .sidebar {
    flex: 0 0 200px;
    order: -1; }
  .app-body .aside-menu {
    flex: 0 0 250px; }

html:not([dir="rtl"]) .sidebar {
  margin-left: -200px; }

html:not([dir="rtl"]) .aside-menu {
  margin-right: -250px; }

html[dir="rtl"] .sidebar {
  margin-right: -200px; }

html[dir="rtl"] .aside-menu {
  margin-left: -250px; }

@media (min-width: 992px) {
  .header-fixed .app-header {
    position: fixed;
    z-index: 1020;
    width: 100%; }
  .header-fixed .app-body {
    margin-top: 55px; }
  .sidebar-fixed .sidebar {
    position: fixed;
    z-index: 1019;
    width: 200px;
    height: 100vh; }
  .sidebar-fixed .app-header + .app-body .sidebar {
    height: calc(100vh - 55px); }
  .sidebar-compact .sidebar {
    flex: 0 0 150px; }
  .sidebar-compact.sidebar-fixed .sidebar {
    width: 150px; }
  .sidebar-compact .sidebar-minimizer {
    display: none; }
  .sidebar-minimized .sidebar {
    flex: 0 0 50px; }
  .sidebar-minimized.sidebar-fixed .sidebar {
    width: 50px; }
  .sidebar-off-canvas .sidebar {
    position: fixed;
    z-index: 1019;
    height: 100%; }
  .sidebar-off-canvas .app-header + .app-body .sidebar {
    height: calc(100vh - 55px); }
  html:not([dir="rtl"]) .sidebar-compact .sidebar {
    margin-left: -150px; }
  html:not([dir="rtl"]) .sidebar-minimized .sidebar {
    margin-left: -50px; }
  html[dir="rtl"] .sidebar-compact .sidebar {
    margin-right: -150px; }
  html[dir="rtl"] .sidebar-minimized .sidebar {
    margin-right: -50px; }
  .aside-menu-fixed .aside-menu {
    position: fixed;
    height: 100%; }
    .aside-menu-fixed .aside-menu .tab-content {
      height: calc(100vh - 2.375rem - 55px); }
  .aside-menu-fixed .app-header + .app-body .aside-menu {
    height: calc(100vh - 55px); }
  .aside-menu-off-canvas .aside-menu {
    position: fixed;
    z-index: 1019;
    height: 100%; }
  .aside-menu-off-canvas .app-header + .app-body .aside-menu {
    height: calc(100vh - 55px); }
  html:not([dir="rtl"]) .aside-menu-fixed .aside-menu,
  html:not([dir="rtl"]) .aside-menu-off-canvas .aside-menu {
    right: 0; }
  html[dir="rtl"] .aside-menu-fixed .aside-menu,
  html[dir="rtl"] .aside-menu-off-canvas .aside-menu {
    left: 0; } }

.breadcrumb-fixed .main {
  padding-top: 3.875rem; }

.breadcrumb-fixed .breadcrumb {
  position: fixed;
  top: 55px;
  right: 0;
  left: 0;
  z-index: 1017; }

html:not([dir="rtl"]) .sidebar-show .sidebar {
  margin-left: 0; }

@media (min-width: 576px) {
  html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .main,
  html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .app-footer {
    margin-left: 200px; }
  html:not([dir="rtl"]) .sidebar-show.sidebar-fixed.sidebar-compact .main,
  html:not([dir="rtl"]) .sidebar-show.sidebar-fixed.sidebar-compact .app-footer {
    margin-left: 150px; }
  html:not([dir="rtl"]) .sidebar-show.sidebar-fixed.sidebar-minimized .main,
  html:not([dir="rtl"]) .sidebar-show.sidebar-fixed.sidebar-minimized .app-footer {
    margin-left: 50px; }
  html:not([dir="rtl"]) .sidebar-show.breadcrumb-fixed .breadcrumb {
    left: 200px; }
  html:not([dir="rtl"]) .sidebar-show.breadcrumb-fixed.sidebar-compact .breadcrumb {
    left: 150px; }
  html:not([dir="rtl"]) .sidebar-show.breadcrumb-fixed.sidebar-minimized .breadcrumb {
    left: 50px; } }

html:not([dir="rtl"]) .aside-menu-show .aside-menu {
  margin-right: 0; }

@media (min-width: 576px) {
  html:not([dir="rtl"]) .aside-menu-show.aside-menu-fixed .main,
  html:not([dir="rtl"]) .aside-menu-show.aside-menu-fixed .app-footer {
    margin-right: 250px; }
  html:not([dir="rtl"]) .aside-menu-show.breadcrumb-fixed .breadcrumb {
    right: 250px; } }

html[dir="rtl"] .sidebar-show .sidebar {
  margin-right: 0; }

@media (min-width: 576px) {
  html[dir="rtl"] .sidebar-show.sidebar-fixed .main,
  html[dir="rtl"] .sidebar-show.sidebar-fixed .app-footer {
    margin-right: 200px; }
  html[dir="rtl"] .sidebar-show.sidebar-fixed.sidebar-compact .main,
  html[dir="rtl"] .sidebar-show.sidebar-fixed.sidebar-compact .app-footer {
    margin-right: 150px; }
  html[dir="rtl"] .sidebar-show.sidebar-fixed.sidebar-minimized .main,
  html[dir="rtl"] .sidebar-show.sidebar-fixed.sidebar-minimized .app-footer {
    margin-right: 50px; }
  html[dir="rtl"] .sidebar-show.breadcrumb-fixed .breadcrumb {
    right: 200px; }
  html[dir="rtl"] .sidebar-show.breadcrumb-fixed.sidebar-compact .breadcrumb {
    right: 150px; }
  html[dir="rtl"] .sidebar-show.breadcrumb-fixed.sidebar-minimized .breadcrumb {
    right: 50px; } }

html[dir="rtl"] .aside-menu-show .aside-menu {
  margin-left: 0; }

@media (min-width: 576px) {
  html[dir="rtl"] .aside-menu-show.aside-menu-fixed .main,
  html[dir="rtl"] .aside-menu-show.aside-menu-fixed .app-footer {
    margin-left: 250px; }
  html[dir="rtl"] .aside-menu-show.breadcrumb-fixed .breadcrumb {
    left: 250px; } }

@keyframes opacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@media (max-width: 575.98px) {
  .sidebar-show .main,
  .aside-menu-show .main {
    position: relative; }
    .sidebar-show .main::before,
    .aside-menu-show .main::before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1018;
      width: 100%;
      height: 100%;
      content: "";
      background: rgba(0, 0, 0, 0.7);
      animation: opacity 0.25s; } }

@media (min-width: 576px) {
  html:not([dir="rtl"]) .sidebar-sm-show .sidebar {
    margin-left: 0; } }

@media (min-width: 576px) and (min-width: 576px) {
  html:not([dir="rtl"]) .sidebar-sm-show.sidebar-fixed .main,
  html:not([dir="rtl"]) .sidebar-sm-show.sidebar-fixed .app-footer {
    margin-left: 200px; }
  html:not([dir="rtl"]) .sidebar-sm-show.sidebar-fixed.sidebar-compact .main,
  html:not([dir="rtl"]) .sidebar-sm-show.sidebar-fixed.sidebar-compact .app-footer {
    margin-left: 150px; }
  html:not([dir="rtl"]) .sidebar-sm-show.sidebar-fixed.sidebar-minimized .main,
  html:not([dir="rtl"]) .sidebar-sm-show.sidebar-fixed.sidebar-minimized .app-footer {
    margin-left: 50px; }
  html:not([dir="rtl"]) .sidebar-sm-show.breadcrumb-fixed .breadcrumb {
    left: 200px; }
  html:not([dir="rtl"]) .sidebar-sm-show.breadcrumb-fixed.sidebar-compact .breadcrumb {
    left: 150px; }
  html:not([dir="rtl"]) .sidebar-sm-show.breadcrumb-fixed.sidebar-minimized .breadcrumb {
    left: 50px; } }

@media (min-width: 576px) {
  html:not([dir="rtl"]) .aside-menu-sm-show .aside-menu {
    margin-right: 0; } }

@media (min-width: 576px) and (min-width: 576px) {
  html:not([dir="rtl"]) .aside-menu-sm-show.aside-menu-fixed .main,
  html:not([dir="rtl"]) .aside-menu-sm-show.aside-menu-fixed .app-footer {
    margin-right: 250px; }
  html:not([dir="rtl"]) .aside-menu-sm-show.breadcrumb-fixed .breadcrumb {
    right: 250px; } }

@media (min-width: 576px) {
  html[dir="rtl"] .sidebar-sm-show .sidebar {
    margin-right: 0; } }

@media (min-width: 576px) and (min-width: 576px) {
  html[dir="rtl"] .sidebar-sm-show.sidebar-fixed .main,
  html[dir="rtl"] .sidebar-sm-show.sidebar-fixed .app-footer {
    margin-right: 200px; }
  html[dir="rtl"] .sidebar-sm-show.sidebar-fixed.sidebar-compact .main,
  html[dir="rtl"] .sidebar-sm-show.sidebar-fixed.sidebar-compact .app-footer {
    margin-right: 150px; }
  html[dir="rtl"] .sidebar-sm-show.sidebar-fixed.sidebar-minimized .main,
  html[dir="rtl"] .sidebar-sm-show.sidebar-fixed.sidebar-minimized .app-footer {
    margin-right: 50px; }
  html[dir="rtl"] .sidebar-sm-show.breadcrumb-fixed .breadcrumb {
    right: 200px; }
  html[dir="rtl"] .sidebar-sm-show.breadcrumb-fixed.sidebar-compact .breadcrumb {
    right: 150px; }
  html[dir="rtl"] .sidebar-sm-show.breadcrumb-fixed.sidebar-minimized .breadcrumb {
    right: 50px; } }

@media (min-width: 576px) {
  html[dir="rtl"] .aside-menu-sm-show .aside-menu {
    margin-left: 0; } }

@media (min-width: 576px) and (min-width: 576px) {
  html[dir="rtl"] .aside-menu-sm-show.aside-menu-fixed .main,
  html[dir="rtl"] .aside-menu-sm-show.aside-menu-fixed .app-footer {
    margin-left: 250px; }
  html[dir="rtl"] .aside-menu-sm-show.breadcrumb-fixed .breadcrumb {
    left: 250px; } }

@media (min-width: 576px) {
  @keyframes opacity {
    0% {
      opacity: 0; }
    100% {
      opacity: 1; } } }

@media (min-width: 576px) and (max-width: 575.98px) {
  .sidebar-sm-show .main,
  .aside-menu-sm-show .main {
    position: relative; }
    .sidebar-sm-show .main::before,
    .aside-menu-sm-show .main::before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1018;
      width: 100%;
      height: 100%;
      content: "";
      background: rgba(0, 0, 0, 0.7);
      animation: opacity 0.25s; } }

@media (min-width: 768px) {
  html:not([dir="rtl"]) .sidebar-md-show .sidebar {
    margin-left: 0; } }

@media (min-width: 768px) and (min-width: 576px) {
  html:not([dir="rtl"]) .sidebar-md-show.sidebar-fixed .main,
  html:not([dir="rtl"]) .sidebar-md-show.sidebar-fixed .app-footer {
    margin-left: 200px; }
  html:not([dir="rtl"]) .sidebar-md-show.sidebar-fixed.sidebar-compact .main,
  html:not([dir="rtl"]) .sidebar-md-show.sidebar-fixed.sidebar-compact .app-footer {
    margin-left: 150px; }
  html:not([dir="rtl"]) .sidebar-md-show.sidebar-fixed.sidebar-minimized .main,
  html:not([dir="rtl"]) .sidebar-md-show.sidebar-fixed.sidebar-minimized .app-footer {
    margin-left: 50px; }
  html:not([dir="rtl"]) .sidebar-md-show.breadcrumb-fixed .breadcrumb {
    left: 200px; }
  html:not([dir="rtl"]) .sidebar-md-show.breadcrumb-fixed.sidebar-compact .breadcrumb {
    left: 150px; }
  html:not([dir="rtl"]) .sidebar-md-show.breadcrumb-fixed.sidebar-minimized .breadcrumb {
    left: 50px; } }

@media (min-width: 768px) {
  html:not([dir="rtl"]) .aside-menu-md-show .aside-menu {
    margin-right: 0; } }

@media (min-width: 768px) and (min-width: 576px) {
  html:not([dir="rtl"]) .aside-menu-md-show.aside-menu-fixed .main,
  html:not([dir="rtl"]) .aside-menu-md-show.aside-menu-fixed .app-footer {
    margin-right: 250px; }
  html:not([dir="rtl"]) .aside-menu-md-show.breadcrumb-fixed .breadcrumb {
    right: 250px; } }

@media (min-width: 768px) {
  html[dir="rtl"] .sidebar-md-show .sidebar {
    margin-right: 0; } }

@media (min-width: 768px) and (min-width: 576px) {
  html[dir="rtl"] .sidebar-md-show.sidebar-fixed .main,
  html[dir="rtl"] .sidebar-md-show.sidebar-fixed .app-footer {
    margin-right: 200px; }
  html[dir="rtl"] .sidebar-md-show.sidebar-fixed.sidebar-compact .main,
  html[dir="rtl"] .sidebar-md-show.sidebar-fixed.sidebar-compact .app-footer {
    margin-right: 150px; }
  html[dir="rtl"] .sidebar-md-show.sidebar-fixed.sidebar-minimized .main,
  html[dir="rtl"] .sidebar-md-show.sidebar-fixed.sidebar-minimized .app-footer {
    margin-right: 50px; }
  html[dir="rtl"] .sidebar-md-show.breadcrumb-fixed .breadcrumb {
    right: 200px; }
  html[dir="rtl"] .sidebar-md-show.breadcrumb-fixed.sidebar-compact .breadcrumb {
    right: 150px; }
  html[dir="rtl"] .sidebar-md-show.breadcrumb-fixed.sidebar-minimized .breadcrumb {
    right: 50px; } }

@media (min-width: 768px) {
  html[dir="rtl"] .aside-menu-md-show .aside-menu {
    margin-left: 0; } }

@media (min-width: 768px) and (min-width: 576px) {
  html[dir="rtl"] .aside-menu-md-show.aside-menu-fixed .main,
  html[dir="rtl"] .aside-menu-md-show.aside-menu-fixed .app-footer {
    margin-left: 250px; }
  html[dir="rtl"] .aside-menu-md-show.breadcrumb-fixed .breadcrumb {
    left: 250px; } }

@media (min-width: 768px) {
  @keyframes opacity {
    0% {
      opacity: 0; }
    100% {
      opacity: 1; } } }

@media (min-width: 768px) and (max-width: 575.98px) {
  .sidebar-md-show .main,
  .aside-menu-md-show .main {
    position: relative; }
    .sidebar-md-show .main::before,
    .aside-menu-md-show .main::before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1018;
      width: 100%;
      height: 100%;
      content: "";
      background: rgba(0, 0, 0, 0.7);
      animation: opacity 0.25s; } }

@media (min-width: 992px) {
  html:not([dir="rtl"]) .sidebar-lg-show .sidebar {
    margin-left: 0; } }

@media (min-width: 992px) and (min-width: 576px) {
  html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed .main,
  html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed .app-footer {
    margin-left: 200px; }
  html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed.sidebar-compact .main,
  html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed.sidebar-compact .app-footer {
    margin-left: 150px; }
  html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed.sidebar-minimized .main,
  html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed.sidebar-minimized .app-footer {
    margin-left: 50px; }
  html:not([dir="rtl"]) .sidebar-lg-show.breadcrumb-fixed .breadcrumb {
    left: 200px; }
  html:not([dir="rtl"]) .sidebar-lg-show.breadcrumb-fixed.sidebar-compact .breadcrumb {
    left: 150px; }
  html:not([dir="rtl"]) .sidebar-lg-show.breadcrumb-fixed.sidebar-minimized .breadcrumb {
    left: 50px; } }

@media (min-width: 992px) {
  html:not([dir="rtl"]) .aside-menu-lg-show .aside-menu {
    margin-right: 0; } }

@media (min-width: 992px) and (min-width: 576px) {
  html:not([dir="rtl"]) .aside-menu-lg-show.aside-menu-fixed .main,
  html:not([dir="rtl"]) .aside-menu-lg-show.aside-menu-fixed .app-footer {
    margin-right: 250px; }
  html:not([dir="rtl"]) .aside-menu-lg-show.breadcrumb-fixed .breadcrumb {
    right: 250px; } }

@media (min-width: 992px) {
  html[dir="rtl"] .sidebar-lg-show .sidebar {
    margin-right: 0; } }

@media (min-width: 992px) and (min-width: 576px) {
  html[dir="rtl"] .sidebar-lg-show.sidebar-fixed .main,
  html[dir="rtl"] .sidebar-lg-show.sidebar-fixed .app-footer {
    margin-right: 200px; }
  html[dir="rtl"] .sidebar-lg-show.sidebar-fixed.sidebar-compact .main,
  html[dir="rtl"] .sidebar-lg-show.sidebar-fixed.sidebar-compact .app-footer {
    margin-right: 150px; }
  html[dir="rtl"] .sidebar-lg-show.sidebar-fixed.sidebar-minimized .main,
  html[dir="rtl"] .sidebar-lg-show.sidebar-fixed.sidebar-minimized .app-footer {
    margin-right: 50px; }
  html[dir="rtl"] .sidebar-lg-show.breadcrumb-fixed .breadcrumb {
    right: 200px; }
  html[dir="rtl"] .sidebar-lg-show.breadcrumb-fixed.sidebar-compact .breadcrumb {
    right: 150px; }
  html[dir="rtl"] .sidebar-lg-show.breadcrumb-fixed.sidebar-minimized .breadcrumb {
    right: 50px; } }

@media (min-width: 992px) {
  html[dir="rtl"] .aside-menu-lg-show .aside-menu {
    margin-left: 0; } }

@media (min-width: 992px) and (min-width: 576px) {
  html[dir="rtl"] .aside-menu-lg-show.aside-menu-fixed .main,
  html[dir="rtl"] .aside-menu-lg-show.aside-menu-fixed .app-footer {
    margin-left: 250px; }
  html[dir="rtl"] .aside-menu-lg-show.breadcrumb-fixed .breadcrumb {
    left: 250px; } }

@media (min-width: 992px) {
  @keyframes opacity {
    0% {
      opacity: 0; }
    100% {
      opacity: 1; } } }

@media (min-width: 992px) and (max-width: 575.98px) {
  .sidebar-lg-show .main,
  .aside-menu-lg-show .main {
    position: relative; }
    .sidebar-lg-show .main::before,
    .aside-menu-lg-show .main::before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1018;
      width: 100%;
      height: 100%;
      content: "";
      background: rgba(0, 0, 0, 0.7);
      animation: opacity 0.25s; } }


@media (min-width: 1200px) {
  @keyframes opacity {
    0% {
      opacity: 0; }
    100% {
      opacity: 1; } } }

@media (min-width: 1200px) and (max-width: 575.98px) {
  .sidebar-xl-show .main,
  .aside-menu-xl-show .main {
    position: relative; }
    .sidebar-xl-show .main::before,
    .aside-menu-xl-show .main::before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1018;
      width: 100%;
      height: 100%;
      content: "";
      background: rgba(0, 0, 0, 0.7);
      animation: opacity 0.25s; } }

.footer-fixed .app-footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1020;
  height: 50px; }

.footer-fixed .app-body {
  margin-bottom: 50px; }

.app-header,
.app-footer,
.sidebar,
.main,
.aside-menu {
  transition: margin-left 0.25s, margin-right 0.25s, width 0.25s, flex 0.25s; }

.sidebar-nav {
  transition: width 0.25s; }

.breadcrumb {
  transition: left 0.25s, right 0.25s, width 0.25s; }

@media (max-width: 991.98px) {
  .app-header {
    position: fixed;
    z-index: 1020;
    width: 100%;
    text-align: center;
    background-color: #fff; }
    .app-header .navbar-toggler {
      color: #fff; }
    .app-header .navbar-brand {
      position: absolute;
      left: 50%;
      margin-left: -77.5px; }
  .app-body {
    margin-top: 55px; }
  .sidebar {
    position: fixed;
    z-index: 1019;
    width: 200px;
    height: calc(100vh - 55px); }
  .sidebar-minimizer {
    display: none; }
  .aside-menu {
    position: fixed;
    right: 0;
    height: 100%; } }

hr.transparent {
  border-top: 1px solid transparent; }

@media (max-width: 575.98px) {
  .d-down-none {
    display: none !important; } }

@media (max-width: 767.98px) {
  .d-sm-down-none {
    display: none !important; } }

@media (max-width: 991.98px) {
  .d-md-down-none {
    display: none !important; } }

@media (max-width: 1199.98px) {
  .d-lg-down-none {
    display: none !important; } }

.d-xl-down-none {
  display: none !important; }

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

.ie-custom-properties {
  blue: #20a8d8;
  indigo: #6610f2;
  purple: #6f42c1;
  pink: #e83e8c;
  red: #f86c6b;
  orange: #f8cb00;
  yellow: #ffc107;
  green: #4dbd74;
  teal: #20c997;
  cyan: #17a2b8;
  white: #fff;
  gray: #73818f;
  gray-dark: #2f353a;
  primary: #20a8d8;
  secondary: #c8ced3;
  success: #4dbd74;
  info: #63c2de;
  warning: #ffc107;
  danger: #f86c6b;
  light: #f0f3f5;
  dark: #2f353a;
  breakpoint-xs: 0;
  breakpoint-sm: 576px;
  breakpoint-md: 768px;
  breakpoint-lg: 992px;
  breakpoint-xl: 1200px; }

.app-header .navbar-nav .dropdown-menu-right {
  right: auto; }

.app-footer {
  color: #f9f9f9;
  background-color: #212121;
  border-bottom: 1px solid #484848; }

html body .app.flex-row.align-items-center {
  height: 100vh; }

