:root {
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }

*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f7f7f7;
  text-align: left;
  background-color: #212121; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

a {
  color: #20a8d8;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:hover {
  color: #167495;
  text-decoration: underline; }

.row {
  display: flex;
  flex-wrap: wrap; }

.news-row {
  margin: 0 30px; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%; }

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: none; }

.col-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%; }

.col-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%; }

.col-3 {
  flex: 0 0 25%;
  max-width: 25%; }

.col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

.col-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%; }

.col-6 {
  flex: 0 0 50%;
  max-width: 50%; }

.col-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%; }

.col-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%; }

.col-9 {
  flex: 0 0 75%;
  max-width: 75%; }

.col-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%; }

.col-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%; }

.col-12 {
  flex: 0 0 100%;
  max-width: 100%; }

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

.ie-custom-properties {
  breakpoint-sm: 576px;
  breakpoint-md: 768px;
  breakpoint-lg: 992px;
  breakpoint-xl: 1200px; }

html body .app.flex-row.align-items-center {
  height: 100vh; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/* --------------------
SearchBar
-------------------- */
.search-bar__container {
  text-align: right;
  margin: 1em 2% 1em 0; }

.search-bar__input {
  border: 1px solid #484848;
  background-color: #2a363b;
  color: #f9f9f9;
  font-size: 1.1em;
  padding: 0.5em;
  margin: 0.5em 0em 0.5em 0.5em;
  width: 17em; }

.search-bar__input::placeholder {
  color: #526975; }

/* --------------------
CryptoTable
-------------------- */
.crypto-table__container {
  margin: 0 2%; }

.crypto-table__table {
  background: #292f33;
  border: 3px solid #292f33;
  color: #f9f9f9;
  margin: 0 auto 0 auto;
  padding-top: 1em;
  width: 100%; }

.crypto-table__sorting-arrows {
  color: #526975;
  margin-bottom: 1em; }

.crypto-table__header-text {
  color: #f9f9f9; }

.crypto-table__checkbox {
  display: none; }

.crypto-table__header-text:hover {
  cursor: pointer; }

#crypto-table__header-row {
  background-color: #292f33;
  text-align: center; }

.crypto-table__table tr {
  background-color: #405059;
  text-align: center; }

.crypto-table__table tr:nth-child(2n) {
  background-color: #536976; }

.crypto-table__table-row-data {
  padding: 0.5em; }

/* --------------------
CryptoRows
-------------------- */
.crypto-rows__ticker-image {
  align-self: center;
  -webkit-transition: -webkit-transform 0.8s;
  -ms-transition: -ms-transform 0.8s;
  margin: 0em 1em 0em 0em;
  transition: transform 0.8s;
  width: 40px; }

/* Use a placeholder image when the crypto symbol image isnt found */
.crypto-rows__ticker-image:before {
  background-image: url("https://placehold.it/40x40");
  content: ' ';
  display: block;
  height: 40px;
  position: absolute;
  width: 40px;
  z-index: 0; }

.crypto-rows__crypto-name-data-content {
  align-items: center;
  display: flex;
  margin-left: 25%; }

.crypto-rows__logo--spin {
  transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg); }

.crypto-rows__row--light-up {
  color: #f9f9f9; }

/* --------------------
REUSABLE STYLES
-------------------- */
.green-text {
  color: #76ff72; }

.red-text {
  color: #ff7272; }

.regular-green {
  color: green; }

/* --------------------
MEDIA QUERIES
-------------------- */
/* ipad */
@media (max-width: 1024px) {
  .hide-on-ipad {
    display: none; } }

/* tablet */
@media (max-width: 800px) {
  .hide-on-tablet {
    display: none; }
  .crypto-rows__crypto-name-data-content {
    margin-left: 15%; } }

/* cell phones */
@media (max-width: 400px) {
  .hide-on-phone {
    display: none; }
  .header-bar__container {
    flex-direction: row;
    justify-content: center;
    padding: 0.75em 5% 0% 5%; }
  .header-bar__app-title {
    font-size: 1.5em;
    margin-left: 2em;
    margin-bottom: 1em; }
  .crypto-table__container,
  .crypto-table__table,
  .crypto-table__header-row,
  .crypto-table__table-header-data,
  .crypto-table__header-text {
    font-size: 0.9em; }
  .crypto-table__table {
    width: 100%; }
  .crypto-table__sorting-arrows {
    margin-bottom: 0.5em; }
  .crypto-table__table-row-data {
    height: 70px; }
  .crypto-rows__crypto-name-data-content {
    margin-left: auto; } }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/* --------------------
CryptoNews
-------------------- */
.news__app-title {
  color: white;
  margin: 1em 0 0 5%; }

.news__header-section {
  align-items: center;
  background-color: #2a363b;
  display: flex;
  margin: 2em 0 2em 0;
  padding: 1em 0em 1em 0em;
  width: 100%; }

.news__icon-container--left {
  margin-left: 5%; }

.news__header-container-center {
  color: #526975;
  margin: 0 auto 0 auto; }

.news__ticker-image {
  align-self: center;
  margin-right: 1em;
  width: 40px; }

/* Use a placeholder image when the crypto symbol image isnt found */
.news__ticker-image:before {
  background-image: url("https://placehold.it/40x40");
  content: ' ';
  display: block;
  height: 40px;
  position: absolute;
  width: 40px;
  z-index: 0; }

.news__header-text {
  color: white; }

.news__reddit-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
  margin: 0 auto 0 auto;
  /* width: 100%; */ }

.news__reddit-item {
  margin: 0em;
  overflow-wrap: break-word;
  word-wrap: break-word;
  /* border-radius:5px; */
  width: 100%; }

.news__reddit-item-content {
  border: solid #859297;
  border-width: 1px 0px 1px 0px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: 100px; */
  /* border-radius: 10px !important; */ }

.news__reddit-item-content--top {
  display: flex; }

.news__reddit-item-thumbnail {
  margin-right: 0.5em;
  object-fit: cover;
  width: 70px;
  height: 70px; }

.news__reddit-item-title-text {
  color: white;
  text-decoration: none;
  padding: .5em .5em .5em 0em; }

.news__reddit-item-content--bottom {
  align-items: center;
  display: flex;
  border-top: 1px solid #859297;
  color: #859297;
  justify-content: space-between;
  padding: 0.5em; }

.news__reddit-item-link {
  align-items: center;
  color: #859297;
  display: flex;
  margin-left: 0.5em;
  text-decoration: none; }

/* --------------------
REUSABLE STYLES
-------------------- */
.rotate-90 {
  transform: rotate(90deg); }

.regular-green {
  color: green; }

/* --------------------
MEDIA QUERIES
-------------------- */
/* ipad */
@media (max-width: 1024px) {
  .hide-on-ipad {
    display: none; } }

/* tablet */
@media (max-width: 800px) {
  .hide-on-tablet {
    display: none; }
  .news__reddit-item-content {
    height: 175px;
    width: 400px; } }

/* cell phones */
@media (max-width: 400px) {
  .hide-on-phone {
    display: none; }
  .news__app-title {
    font-size: 1.5em;
    margin-top: 0.5em; }
  .news__header-section {
    margin: 1em 0 1em 0; }
  .news__icon-container--right {
    width: auto; }
  .news__reddit-item {
    margin: 0.5em; }
  .news__reddit-item-content {
    height: 230px;
    width: 300px; } }

.article-title {
  font-size: 1rem;
  font-weight: 500;
  flex: 0 0 75%;
  max-width: 75%; }

.news-thumbnail {
  flex: 0 0 25%;
  max-width: 25%; }

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #292f33;
  background-clip: border-box;
  border: 1px solid #484848;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem; }

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem; }

.card-title {
  margin-bottom: 0.75rem; }

.card-header {
  padding: 1rem 1.25rem;
  margin-bottom: 0;
  font-size: 2.5vh;
  font-weight: 500;
  line-height: 21px;
  color: #f9f9f9;
  background-color: #292f33;
  border-bottom: 1px solid #484848; }

.card-columns .card {
  margin-bottom: 0.75rem; }

@media (min-width: 576px) {
  .card-columns {
    column-count: 3;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1; }
  .card-columns .card {
    display: inline-block;
    width: 100%; } }

.app-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 1rem;
  color: #f9f9f9;
  background-color: #212121;
  border-top: 1px solid #484848;
  flex: 0 0 50px;
  padding: 1% 2%; }

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 30px;
  list-style: none; }

.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0; }

.navbar-nav .dropdown-menu {
  position: static;
  float: none; }

.header-bar__container {
  background-color: #292f33;
  display: flex;
  justify-content: space-between;
  padding: 2rem 0 0 0; }

.app-header {
  height: 55px;
  margin: 0;
  padding-left: 2%;
  border-bottom: 1px solid #484848; }

.app-header .navbar-nav {
  flex-direction: row;
  align-items: center; }

.app-header .nav-item {
  position: relative;
  min-width: 50px;
  margin: 0 7px 0;
  text-align: center;
  font-size: 1.25rem; }

.navbar-nav .nav-link {
  color: #b3b9be; }

.navbar-nav .nav-link:hover, .navbar-nav .nav-link:focus {
  color: #f9f9f9; }

@media (max-width: 991.98px) {
  .app-header {
    z-index: 1020;
    width: 100%;
    text-align: center; }
  .app-header .navbar-toggler {
    color: #f9f9f9; }
  .app-header .navbar-brand {
    position: absolute;
    left: 50%; }
  .app-body {
    margin-top: 55px; } }

.crypto_title {
  margin-top: 15px;
  margin-bottom: 0px;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: justify;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 70px;
  color: #f9f9f9; }

.price_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px; }

@media only screen and (min-width: 0px) and (max-width: 966px) {
  .price_container {
    margin-top: 20px; }
  .chart_Container {
    display: flex;
    flex-direction: column;
    align-items: center; } }

@media only screen and (max-width: 375) {
  .recharts-surface {
    transform: translateX(-30px); } }

.error_container {
  text-align: center;
  margin-top: 40px; }

.date_container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-left: 70px; }

.date_form {
  margin-right: 100px; }

.date_label {
  display: inline-block;
  text-align: right;
  width: 50px;
  margin: 0 10px;
  color: #f9f9f9; }

.date_customDate {
  margin-bottom: 10px; }

@media only screen and (min-width: 0px) and (max-width: 466px) {
  .date_form {
    display: flex;
    flex-direction: column;
    align-items: center; } }

.timespan_button {
  padding: 5px 15px;
  margin: 10px 5px;
  background-color: #197a9e;
  color: #f9f9f9;
  border-style: none;
  border-radius: 5px; }

.timespan_button:hover {
  background-color: #20a8d8; }
